{% extends 'userpanel/user_base.html' %}
{% block title %}
USERPANEL | DELETE BLOG
{% endblock %}
{% block content %}
        
    <!-- Content goes here -->
    <h2 style="text-align: center;color: white; background-color: rgb(0, 0, 0); border: 15px;margin: 20px 20px;font-style: italic;border-radius: 15px;">DELETE COMMENT</h2>
    <p><h3><strong> you sure you want to delete the blog "{{ blog.title }}"?</strong></h3></p>
    
    <form method="post" style="margin-left: 500px;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'userpanel:my_blog' %}" class="btn btn-secondary">Cancel</a>
    </form>
   {% endblock %}
